/*
=============== 
Fonts
===============
*/
// @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  //   --ff-body: 'Fira Sans', sans-serif;
  // --ff-headings: Rubik, -apple-system, BlinkMacSystemFont, sans-serif !important;
  --ff-headings: 'Rubik Moonrocks', cursive;
  //   --ff-headings: apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  //     Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  //     Segoe UI Symbol, Noto Color Emoji;
  --ff-body: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif !important;
  --transition: all 0.3s linear;
  --spacing: 0.125rem;
  --light-spacing: 1px;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-body);
  background: var(--clr-grey-10);
  color: var(--clr-grey-3);
  line-height: 1.5;
  font-size: 0.9rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-grey-3);
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
  width: unset;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--light-spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  font-family: var(--ff-headings);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
  font-size: 0.9rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
    letter-spacing: var(--light-spacing);
  }

  body,
  p {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.thin {
  font-weight: 400;
}

.btn {
  text-transform: capitalize;
  background: var(--clr-primary-5);
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  background: var(--clr-primary-4);
}
/* section */
.section {
  padding: 4rem 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 85vw;
  }
}

// ==============================================
// ==============================================
// ==============================================

.single-post {
  display: grid;
  grid-template-rows: 13rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  &:hover {
    // transform: scale(1.1) translateX(5%);
    transform: scale(1.1);
  }

  &__image {
    position: relative;
    box-shadow: var(--light-shadow);
    border-radius: var(--radius);
    background: var(--clr-grey-9);
    img {
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    * {
      margin-bottom: 0 !important;
    }
  }
}

.posts-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

// ====================================================
// Navbar
// ====================================================

.navbar {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-center {
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  gap: 0 1rem;
  padding: 0.5rem 0;
  * {
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    color: var(--clr-grey-2);
    transition: var(--transition);
    &:hover {
      background: var(--clr-primary-9);
    }
  }
}

.toj-image {
  width: 100px;
  height: auto;
}

.about-image-container {
  position: relative;
  height: 250px;

  img {
    object-fit: cover;
  }
}
